.about-me{
  &__inner{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 140px 0;
  }
  &__head{
    //width: 100%;
    display: flex;
    margin-bottom: 100px;
  }
  &__title{
    font-size: 36px;
    font-weight: $font_bold;
    color: #fff;
    padding-right: 85px;
  }
  &__ctrls{
    display: flex;
    justify-content: space-between;
    width: 130px;
  }
  &__comments{
    //@include bgc(pink);
    display: flex;
  }
  &__inner{
    width: 66.6666%;
  }

}