.about-me{
  &__title{
    padding-right: 85px;
  }
  &__ctrls{
    display: flex;
    justify-content: space-between;
    width: 130px;
  }
  &__comments{
    //@include bgc(pink);
    display: flex;
  }
}