.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

/*
.slide-enter-active, .slide-leave-active{
  transition: 1s;
}
.slide-leave-active{
  position: absolute;
}
.slide-leave{
  margin-top: 0;
}

.slide-leave-to{
  margin-top: -100px;
}

.slide-enter{
  opacity: 0;
}

.slide-enter-to{
  opacity: 1;
}*/
