.arrow{
  position: absolute;
  width: 100%;

  &__inner{
    height: 100vh;
    position: relative;
  }
  &__scroll{
    fill: #fff;
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(50%);
    display: flex;
    height: 20px;
    z-index: 1;
  }
  &__text{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    transform: translateY(-20%);
  }
}