.arrow{
  &__scroll{
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: 30px;
    align-items: center;
    fill: #fff;
    color: #fff;
    @include ts(fill,color);
    &:hover{
      cursor: pointer;
      color: $orange;
      fill: $orange;

    }
  }

  &__text{
    font-size: 18px;
    font-weight: 600;
  }

}
