.header{
  &__stock-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    @include bgc(pink);
    z-index: -2;

  }
  &__inner{
    position: relative;
    min-height: 100vh;
    height: 1650px;


  }
  &__content{
    position: relative;
    height: 100vh;
  }
  &__topbar{
    max-width: 1480px;
    margin: auto;
    display: flex;
    align-items: center;

  }
  &__logo{
    width: 21%;
  }
  &__menu{
    width: 54%;
  }
  &__soc{
    width: 25%;
  }
}
