.parallax {
  position: absolute;
  width: 100%;
  min-height: 2000px;
  height: 200vh;
  overflow: hidden;
  &__layer{
    position: absolute;
    z-index: -1;
    bottom: 0;
    &_back-plan{
      top: 0;
      width: 100%;
    }
    &_front-plan{
      top: 530px;
      z-index: 1;
      width: 100%;
    }
  }
}