.menu-footer{
  &__link{
    display: inline-block;
    text-decoration: none;
    //color: $top-menu__link-color;
    //padding: 65px 30px;
    margin-right: 65px;
    color: #fff;
    @include ts(color);
    &:hover{
      color: $orange;
    }
  }
}