.menu-footer{
  &__link{
    display: inline-block;
    text-decoration: none;
    margin-right: 65px;
    width: 80px;
    margin-bottom: 15px;
    color: #fff;
    @include ts(color);
    &:hover{
      color: $orange;
    }
  }
}