.page{
  position: relative;
  width: 100%;
  font: 16px / 1.42 'Open Sans', Arial, sans-serif;
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  color: $text-color;
  background: #fff;
  &__header{
    max-width: 1800px;
    margin: auto;
  }
  &__about-me{
    max-width: 1800px;
    margin: auto;
  }
  &__help-you{
    max-width: 1800px;
    min-height: 100vh;
    margin: auto;
  }
}