.section{
  &__inner{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 150px;
    width: 66.6666%;
    z-index: 2;
    @include laptop {
      width: 100%;
    }
  }
  &__head{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
}