.section{
  &__inner{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 140px;
    width: 66.6666%
  }
  &__head{
    display: flex;
    margin-bottom: 100px;
  }
}