.section{
  &__inner{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 40px;
    width: 66.6666%;
    z-index: 2;
    @include desktop {
      width: 90%;
    }
    @include laptop {
      width: 100%;
    }
  }
  &__head{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    align-items: center;
  }
}