.svg-circle{
  display: block;
  fill: none;

  &_first{
    stroke: #fff;
    opacity: 0.1;
    stroke-width: 1px;
  }

  &_second{
    //stroke: $orange;
    stroke-dasharray: 408;
    stroke-dashoffset: 204;
    stroke-width: 12px;
    transform: rotate(180deg);
    transform-origin: 50% 50%;
  }
}