.svg-circle{
  display: block;
  fill: none;


  &_first{
    stroke: #fff;
    opacity: 0.1;
    stroke-width: 1px;
  }

  &_second{
    stroke: $orange;
    stroke-dasharray: 204 408;
    stroke-width: 8px;
    transform: rotate(180deg);
    transform-origin: 50% 50%;
  }

  //&_r90{
  //  transition: .5s all;
  //  stroke-dasharray: 0 282.7;
  //}

}