.table{
  &__cell{
    width: 50%;
    font-weight: 600;
    padding: 0 15px;
    height: 30px;
    &_name{
      color: #fff;
      opacity: 0.15;
      text-align: right;
    }
    &_value{
      color: #fff;
      text-align: left;
    }
  }
}