.tags{
  &__inner{
    display: flex;
    flex-wrap: wrap;
    @include laptop{
      justify-content: center;
    }

  }
  &__item{
    @include bgc(#f1f5f9);
    padding: 6px 12px;
    margin: 0 10px 4px 0;
    border-radius: 15px;
    cursor: pointer;
    @include ts(background,color);
    &:hover{
      @include bgc($orange);
      color: #fff;
    }

  }
}