.test{
  position: absolute;
  top: 500px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 30;
  &__inner{
    width: 600px;
    height: 500px;
    background-color: red;

  }
  &__info{
    font-size: 18px;
    text-align: right;
    @include to(#fff,.4);
    padding-right: 30px;
    min-width: 170px;
  }
  &__name{
    color: #fff;
    font-size: 72px;
    font-weight: 800;
    line-height: 60px;
    padding-left: 30px;

  }
}

