script(type='text/x-template')#comments-form-tpl
  form(action='' method='POST' ref="appForm").form-contact.contact-me__form
    error-message(
    :errorMessage="errorMessage"
    v-if="isEmpty"
    )
    .form-contact__inner
      .form-contact__box.form-contact__box_input
        label(for="name", class="label").form-contact__label Введите ваше имя
        .form-contact__row
          +icon(`icon__name`, 'icon icon_form form-contact__icon')
          span(v-bind:class="{ input_empty: fieldEmptyName }").input.input_size_xl.input_width-full
            span.input__box
              input(placeholder="Имя", name="name" id="name" v-model="formData.name").input__control.form-contact__control

      .form-contact__box.form-contact__box_input
        label(for="email", class="label").form-contact__label Введите ваш email
        .form-contact__row
          +icon(`icon__name`, 'icon icon_form form-contact__icon')
          span(v-bind:class="{ input_empty: fieldEmptyEmail }").input.input_size_xl.input_width-full
            span.input__box
              input(placeholder="Почта", name="email" id="email" v-model="formData.email").input__control.form-contact__control

      .form-contact__box.form-contact__box_line
        label(for="email", class="label").form-contact__label Введите ваш email
        .form-contact__row
          +icon(`icon__message`, 'icon icon_form form-contact__icon')
          textarea(v-bind:class="{ textarea_empty: fieldEmptyMessage }" placeholder="Сообщение" v-model="formData.message").textarea.form-contact__textarea.form-contact__control
      .form-contact__box.form-contact__box_line
        button(type="submit", class="button button_size_xl form-contact__submit" @click.prevent="checkForm")
          .button__text Отправить

script(type='text/x-template')#error-message
  .page__error.error {{errorMessage}}
