section.content.about-me
  .page__container.content__inner
    header.content__head
      .content__title Блок "Обо мне"
      button.button.button_flex.button_size_m.content__head-add
        .button__icon.icon.icon_add-button
        .button__text Добавить группу
    .content__body.about-me__grid
      include tile-about_first
      include tile-about_second
      include tile-about_third