// Секция ===========================
.tile.content__tile
  .tile__inner.tile__inner_full
    .tile__main.new-work
      .new-work__inner
        button(type="button").button.new-work__add
        .new-work__title Добавить отзыв

// Секция КОНЕЦ ===========================

// Секция ===========================
blockquote.blockquote.tile.content__tile
  .tile__inner.tile__inner_full.tile__shadow
    .tile__main
      cite.cite.tile__author
        img(src="../images/content/user__koval.jpg").tile__author-ava
        .tile__author-info
          .tile__author-name Дмитрий Ковальчук
          .tile__author-title Основатель
      .tile__about
        .tile__about-content
          | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
        .tile__about-function
          button(type="button").button.button_size_l.tile__edit
            .button__text Править
            img(src="../images/admin/icon__pencil.png").button__icon.editor__icon
          button(type="submit").button.button_size_l.tile__remove
            .button__text Удалить
            img(src="../images/admin/icon__cross.png").button__icon.editor__icon
// Секция КОНЕЦ ===========================

// Секция ===========================
blockquote.blockquote.tile.content__tile
  .tile__inner.tile__inner_full
    .tile__main
      cite.cite.tile__author
        img(src="../images/content/user__koval.jpg").tile__author-ava
        .tile__author-info
          .tile__author-name Дмитрий Ковальчук
          .tile__author-title Основатель
      .tile__about
        .tile__about-content
          | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
        .tile__about-function
          button(type="button").button.button_size_l.tile__edit
            .button__text Править
            img(src="../images/admin/icon__pencil.png").button__icon.editor__icon
          button(type="submit").button.button_size_l.tile__remove
            .button__text Удалить
            img(src="../images/admin/icon__cross.png").button__icon.editor__icon
// Секция КОНЕЦ ===========================

// Секция ===========================
blockquote.blockquote.tile.content__tile
  .tile__inner.tile__inner_full
    .tile__main
      cite.cite.tile__author
        img(src="../images/content/user__koval.jpg").tile__author-ava
        .tile__author-info
          .tile__author-name Дмитрий Ковальчук
          .tile__author-title Основатель
      .tile__about
        .tile__about-content
          | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
        .tile__about-function
          button(type="button").button.button_size_l.tile__edit
            .button__text Править
            img(src="../images/admin/icon__pencil.png").button__icon.editor__icon
          button(type="submit").button.button_size_l.tile__remove
            .button__text Удалить
            img(src="../images/admin/icon__cross.png").button__icon.editor__icon
// Секция КОНЕЦ ===========================

// Секция ===========================
blockquote.blockquote.tile.content__tile
  .tile__inner.tile__inner_full
    .tile__main
      cite.cite.tile__author
        img(src="../images/content/user__koval.jpg").tile__author-ava
        .tile__author-info
          .tile__author-name Дмитрий Ковальчук
          .tile__author-title Основатель
      .tile__about
        .tile__about-content
          | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
        .tile__about-function
          button(type="button").button.button_size_l.tile__edit
            .button__text Править
            img(src="../images/admin/icon__pencil.png").button__icon.editor__icon
          button(type="submit").button.button_size_l.tile__remove
            .button__text Удалить
            img(src="../images/admin/icon__cross.png").button__icon.editor__icon
// Секция КОНЕЦ ===========================