// Секция ===========================
.tile.content__tile
  .tile__inner.tile__inner_full
    .tile__main.new-work
      .new-work__inner
        button.button.new-work__add
        .new-work__title Добавить работу

// Секция КОНЕЦ ===========================

// Секция ===========================
.tile.content__tile.tile_shadow
  .tile__inner.tile__inner_full
    .tile__main
      .tile__visual
        img(src="../images/test/work_1.jpg").tile__img.img
        .tags.tile__tags
          .tags__inner
            .tags__item
              .tags__text Jquery
            .tags__item
              .tags__text Vue.js
            .tags__item
              .tags__text HTML5
      .tile__about
        .tile__about-title Сайт школы образования
        .tile__about-content
          | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
        .tile__about-link http://loftschool.ru
        .tile__about-function
          button.button.button_size_l.tile__edit
            .button__text Править
            img(src="../images/admin/icon__pencil.png").button__icon.editor__icon
          button.button.button_size_l.tile__remove
            .button__text Удалить
            img(src="../images/admin/icon__cross.png").button__icon.editor__icon
// Секция КОНЕЦ ===========================

// Секция ===========================
.tile.content__tile
  .tile__inner.tile__inner_full
    .tile__main
      .tile__visual
        img(src="../images/test/work_2.jpg").tile__img.img
        .tags.tile__tags
          .tags__inner
            .tags__item
              .tags__text Jquery
            .tags__item
              .tags__text Vue.js
            .tags__item
              .tags__text HTML5
      .tile__about
        .tile__about-title Сайт школы образования
        .tile__about-content
          | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
        .tile__about-link http://loftschool.ru
        .tile__about-function
          button.button.button_size_l.tile__edit
            .button__text Править
            img(src="../images/admin/icon__pencil.png").button__icon.editor__icon
          button.button.button_size_l.tile__remove
            .button__text Удалить
            img(src="../images/admin/icon__cross.png").button__icon.editor__icon
// Секция КОНЕЦ ===========================

// Секция ===========================
.tile.content__tile
  .tile__inner.tile__inner_full
    .tile__main
      .tile__visual
        img(src="../images/test/work_1.jpg").tile__img.img
        .tags.tile__tags
          .tags__inner
            .tags__item
              .tags__text Jquery
            .tags__item
              .tags__text Vue.js
            .tags__item
              .tags__text HTML5
      .tile__about
        .tile__about-title Сайт школы образования
        .tile__about-content
          | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
        .tile__about-link http://loftschool.ru
        .tile__about-function
          button.button.button_size_l.tile__edit
            .button__text Править
            img(src="../images/admin/icon__pencil.png").button__icon.editor__icon
          button.button.button_size_l.tile__remove
            .button__text Удалить
            img(src="../images/admin/icon__cross.png").button__icon.editor__icon
// Секция КОНЕЦ ===========================// Секция КОНЕЦ ===========================

// Секция ===========================
.tile.content__tile
  .tile__inner.tile__inner_full
    .tile__main
      .tile__visual
        img(src="../images/test/work_1.jpg").tile__img.img
        .tags.tile__tags
          .tags__inner
            .tags__item
              .tags__text Jquery
            .tags__item
              .tags__text Vue.js
            .tags__item
              .tags__text HTML5
      .tile__about
        .tile__about-title Сайт школы образования
        .tile__about-content
          | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
        .tile__about-link http://loftschool.ru
        .tile__about-function
          button.button.button_size_l.tile__edit
            .button__text Править
            img(src="../images/admin/icon__pencil.png").button__icon.editor__icon
          button.button.button_size_l.tile__remove
            .button__text Удалить
            img(src="../images/admin/icon__cross.png").button__icon.editor__icon
// Секция КОНЕЦ ===========================