//Один ряд
.editor__row
  span.input.input--size-l.tile__input-box.editor__name.input_active
    span.input__box
      input(placeholder="Название группы" value="Git").input__control
  span.input.input--size-l.tile__input-box.input_percent.editor__value.editor__percent.input_active
    span.input__box
      input(placeholder="Название группы" value="70").input__control

  .editor__function
    .editor__edit
      button.button.button_size_l
        img(src="../images/admin/icon__accept.png").button__icon.editor__icon
    .editor__delete
      button.button.button_size_l
        img(src="../images/admin/icon__decline.png").button__icon.editor__icon
//Один ряд КОНЕЦ