// Секция ===========================
.tile.content__tile.editor.my-work__full
  .tile__inner.tile__inner_simply
    .tile__header Редактирование работы
    .tile__body.tile__body_half
      .tile__img-add
        .img-loader
          .img-loader__inner
            .img-loader__box
              .img-loader__text Перетащити или загрузите для загрузки изображения
              .img-loader__button
                button(type="submit").button.button_rainbow.button_size_xl
                  .button__text ЗАГРУЗИТЬ
      .tile__content-add
        //Одно поле с лэйблом
        .editor__row
          label.label.editor__label-full Название
          span.input.input--size-l.editor__input-full.input_active
            span.input__box
              input(placeholder="Название группы" value="Git").input__control
        //Одно поле с лэйблом КОНЕЦ

        //Одно поле с лэйблом
        .editor__row
          label.label.editor__label-full Ссылка
          span.input.input--size-l.editor__input-full.input_active
            span.input__box
              input(placeholder="Название группы" value="Git").input__control
        //Одно поле с лэйблом КОНЕЦ

        //Одно поле с лэйблом
        .editor__row
          label.label.editor__label-full Описание
          textarea(rows='4').textarea.editor__textarea-full
        //Одно поле с лэйблом КОНЕЦ

        //Одно поле с лэйблом
        .editor__row
          label.label.editor__label-full Добавление тэга
            span.input.input--size-l.editor__input-full.input_active
              span.input__box
                input(placeholder="Название группы" value="Jquery, Vue.js, HTML5").input__control
          .editor__tags.tags
            .tags__inner
              .tags__item
                .tags__text Jquery
                img(src="../images/admin/icon__cross.png").tags__icon.icon.icon_cross
              .tags__item
                .tags__text Vue.js
                img(src="../images/admin/icon__cross.png").tags__icon.icon.icon_cross
              .tags__item
                .tags__text HTML5
                img(src="../images/admin/icon__cross.png").tags__icon.icon.icon_cross
          .editor__function.editor__function_alt
            button(type="button").button.button_size_m.editor__cancel
              .button__text Отмена
            button(type="submit").button.button_rainbow.button_size_xl
              .button__text СОХРАНИТЬ

        //Одно поле с лэйблом КОНЕЦ
// Секция КОНЕЦ ===========================