section.about-me.section
  .section__inner
    .section__head
      h2.title.about-me__title Что обо мне говорят
      .about-me__ctrls.slider
        button(type="button").button.button_around
          +icon(`icon__arrow-slider`, 'icon slider__icon slider__icon-prev')
        button(type="button").button.button_around
          +icon(`icon__arrow-slider`, 'icon slider__icon slider__icon-next')

    #comments-component