.about-me.page__about-me
  .about-me__inner
    .about-me__visual
      +image('content/user.jpg', 'about-me__user-img img')
      table.about-me__table.table
        tr.table__row
          td.table__cell.table__cell_name Проживаю:
          td.table__cell.table__cell_value Харьков
        tr.table__row
          td.table__cell.table__cell_name Возраст:
          td.table__cell.table__cell_value 31 год
        tr.table__row
          td.table__cell.table__cell_name Родился:
          td.table__cell.table__cell_value 2 декабря 1987
    .about-me__descriotion
      .wysiwyg.about-me__wysiwyg
        .wysiwyg__about-me
          p Привет, меня зовут
          h2 Дмитрий Лукьянов
          p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
      i.about-me__note Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
