header.header
  .header__inner.page__container
    .header__topbar
      .header__logo
       | ДЛ
      .header__menu
        button(type="button", class="button button_sandwich header__menu-open")
        .menu-top
          .menu-top__inner
            .menu-top__box
              button(type="button", class="button button_close header__menu-close")
              nav.menu-top__list
                each item in menu
                  a(href=`#${item}`, class="menu-top__link")=item
              +social('menu-top__info','menu')
              //.menu-top__bottom.soc-block_menu
              //    each val, index in soc
              //      a(href=`${val}`, class="soc-block__link")
              //        +icon(`icon__${index}`, `soc-block__icon`)

      +social('header__soc')

    .header__me.me
      .me__inner
        .me__info
          .me__line Личный сайт
          .me__line веб разработчика
        h1.me__name Дмитрий Лукьянов


    .header__arrow.arrow
      .arrow__scroll
        span.arrow__text Скролл
        +icon(`icon__arrow-down`, 'icon arrow__icon')