.parallax
  +image('parallax/bg__back-plan.png', 'parallax__layer parallax__layer_back-plan', 'задний план', 'presentation')
  +image('parallax/bg__front-plan.png', 'parallax__layer parallax__layer_front-plan', 'пердний план','presentation')