header.header
  .header__inner.page__container
    .header__topbar
      .header__logo
       | ДЛ
      .header__menu
        button(type="button", class="button button_sandwich header__menu-open")
        .menu-top
          .menu-top__inner
            .menu-top__box
              button(type="button", class="button button_close header__menu-close button_close")
              nav.menu-top__list
                each item in menu                  
                  a(href=`#${item.to}`, class="menu-top__link")=item.name
              +social('menu-top__info','menu')

      +social('header__soc', 'header')

    .header__me.me
      .me__inner
        .me__info
          .me__line Личный сайт
          .me__line веб разработчика
        h1.me__name Дмитрий Лукьянов


    .header__arrow.arrow
      //button(type="button", class="button button_size_l button_pseudo button_scroll")
      a(href="#about-me", class="button button_size_l button_pseudo button_scroll")
        +icon(`icon__arrow-down`, 'icon button__icon arrow__icon')
        span.button__text Скролл
