section.parallax
  .parallax__inner
    include header
    .parallax__animation
      .parallax__layer(data-speed=`0.1`)
        +image(`parallax/parallax__layer-1.png`, `parallax__img`, 'задний план', 'presentation')
      .parallax__layer(data-speed=`0.2`)
        +image(`parallax/parallax__layer-2.png`, `parallax__img`, 'задний план', 'presentation')
      .parallax__layer(data-speed=`0.3`)
        +image(`parallax/parallax__layer-3.png`, `parallax__img`, 'задний план', 'presentation')
      .parallax__layer(data-speed=`0.4`)
        +image(`parallax/parallax__layer-4.png`, `parallax__img`, 'задний план', 'presentation')

