section.help-you
  .help-you__inner.page__container
    .help-you__content
      .help-you__info
        h2.help-you__title Чем я могу быть полезен вам
        p.help-you__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .help-you__skills
        #skills-component


