section.help-you#my-skills
  .help-you__inner.page__container
    .help-you__content
      .help-you__info
        h2.help-you__title Чем я могу быть полезен вам!?
        p.help-you__text Ниже представлены диаграммы моих навыков в web-разработке. Я постоянно работаю над тем, чтобы их улучшить!  
      .help-you__skills
        #skills-component


