section.info-me
  .info-me__inner
    .info-me__visual
      +image('content/user__me.jpg', 'info-me__user-img img', 'Мой аватар')
      table.info-me__table.table
        tr.table__row
          td.table__cell.table__cell_name Проживаю:
          td.table__cell.table__cell_value Харьков
        tr.table__row
          td.table__cell.table__cell_name Возраст:
          td.table__cell.table__cell_value 31 год
        tr.table__row
          td.table__cell.table__cell_name Родился:
          td.table__cell.table__cell_value 2 декабря 1987
    .info-me__descriotion
      .wysiwyg.info-me__wysiwyg
        .wysiwyg__info-me
          p Привет, меня зовут
          h2 Дмитрий Лукьянов
          p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
      i.info-me__note Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
