section.info-me#about-me
  .info-me__inner.page__container
    .info-me__visual
      +image('content/user__me.jpg', 'info-me__user-img img', 'Мой аватар')
      table.info-me__table.table
        tr.table__row
          td.table__cell.table__cell_name Проживаю:
          td.table__cell.table__cell_value Харьков
        tr.table__row
          td.table__cell.table__cell_name Возраст:
          td.table__cell.table__cell_value 31 год
        tr.table__row
          td.table__cell.table__cell_name Родился:
          td.table__cell.table__cell_value 2 декабря 1987
        tr.table__row
          td.table__cell.table__cell_name Стаж разработки:
          td.table__cell.table__cell_value 8 лет
    .info-me__descriotion
      .wysiwyg.info-me__wysiwyg
        .wysiwyg__info-me
          p Привет, меня зовут
          h2 Дмитрий Лукьянов
          p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
      p.info-me__note Моё хобби это работа, а работа хобби! Я не стою на месте и постоянно ищу новые технологии для обучения!
