section.my-works.page__my-works
  .my-works__inner
    .my-works__head
      .my-works__title Мои работы
    .my-works__box
      .my-works__slider.slider
        .slider__inner
          .slider__number
            .slider__number-box 2
          +image('slider/slide__first.jpg', 'slider__main-img img')
          .slider__media
            .slider__minislides
              +image('slider/slide__fourth.jpg', 'slider__other-img slider__other-img_active img')
              +image('slider/slide__second.jpg', 'slider__other-img img')
              +image('slider/slide__third.jpg', 'slider__other-img img')
              +image('slider/slide__fourth.jpg', 'slider__other-img img')
            .slider__ctrls
              .slider__ctrl.slider__ctrl_next
                +icon(`icon__arrow-slider`, 'icon icon_arrow-slider slider__icon slider__icon-next')
              .slider__ctrl.slider__ctrl_prev
                +icon(`icon__arrow-slider`, 'icon icon_arrow-slider slider__icon slider__icon-prev')

      .my-works__about
        .my-works__tags.tags
          .tags__inner
            .tags__item
            .tags__text HTML
        .my-works__description
          .my-works__subtitle
          .my-works__text
          .my-works__link
            .my-works__icon.icon.icon__my-works-link






























