section.my-works
  .my-works__head
    .my-works__title
  .my-works__box
    .my-works__slider.slider
      .slider__inner
        .slider__main-slide
        .slider__minislides
        .slider__ctrls
        .slider__ctrl.slider__ctrl_next
        .slider__ctrl.slider__ctrl_prev
    .my-works__about
      .my-works__tags.tags
        .tags__inner
          .tags__item
          .tags__text HTML
      .my-works__description
        .my-works__subtitle
        .my-works__text
        .my-works__link
          .my-works__icon.icon.icon__my-works-link

































