section.my-works
  .my-works__inner.page__container
    .my-works__head
      .my-works__title Мои работы
    .my-works__box
      .my-works__slider.slider
        .slider__inner
          .slider__number
            .slider__number-box 2
          +image('slider/slide__first.jpg', 'slider__main-img img')
          .slider__media
            .slider__minislides
              -let slides = ['first','second','third','fourth','fifth']
                each slide in slides
                  if (slide == 'first')
                    .slider__minilide.slider__minilide_active
                      +image(`slider/slide__${slide}.jpg`, 'slider__other-img img')
                  else
                    .slider__minilide
                      +image(`slider/slide__${slide}.jpg`, 'slider__other-img img')

            .slider__ctrls
              .slider__ctrl
                +icon(`icon__arrow-slider`, 'icon icon_arrow-slider slider__icon slider__icon-next')
              .slider__ctrl
                +icon(`icon__arrow-slider`, 'icon icon_arrow-slider slider__icon slider__icon-prev')

      .my-works__about
        .my-works__tags.tags
          .tags__inner
            -let tags = ['html','css3','javascript']
            each item in tags
              .tags__item
                .tags__text=item

        .my-works__description
          h2.my-works__subtitle Сайт школы образования
          .my-works__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          a.my-works__link
            //- +image(`icons/icon__chain.png`, '.my-works__icon icon icon_chain')
            .my-works__icon.icon.icon_chain
            span.my-works__link-text Посмотреть сайт






























