.ava-loader__inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ava-loader__image-box{
  width: 200px;
  height: 200px;
  background: #dee4ed;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}