.login__inner{
  display: flex;
  flex-direction: column;
}
.login__title{
  font-size: 36px;
  font-weight: $font_semibold;
  margin: 0 auto;
}
.login__row{
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}
.label__login{
  width: 100%;
}
.login__input{
  width: 100%;
  padding: 20px 0;
}
.login__button-confirm{
  margin: 0 auto;
}