include mixins
//- -let menu = ['Главная', 'Обо мне','Навыки','Работы','Отзывы','Связаться']

-let menu = [{ name: 'Главная', 'to': 'main'},{ name: 'Обо мне', to: 'about-me'},{ name: 'Навыки', to: 'my-skills'},{ name: 'Работы', to: 'my-works'},{ name: 'Отзывы', to: 'my-rewievs'},{ name: 'Связаться', to: 'connect-with-me'},]
-let soc = {insta: "//www.instagram.com/dolcegabbana2010", vk: "//vk.com/mr.dolce" ,gh: "//github.com/mr-scrpt"}
<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body.page
    .page__wrapper
      include sections/header-parallax
      include sections/info-me
      include sections/help-you
      include sections/my-works
      include sections/media
      include sections/footer
      include ./template/entery